<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Survivor: Northeastern Scheduler</title>

</head>
<div class="h-20 row align-items-center center text-center" >
    <div class="col center text-center" style="padding: 50px;text-align: center">
        <img src="https://parade.events//blog/assets/resources-survivor/logo.png" />
        <h3>Status: <span style="color: red;">Configuration Needed</span></h3>
        <br><br>
        <p>
            To begin, create a file in the same directory as
            this binary.
        </p>
        <p>
            Name it <strong>conf</strong>
            and place each player's name in the file, separated by a new line. Eg:
        </p>
        <p>
            <code>
                <br>
                Josh<br>
                Sam<br>
                Brian<br>
                Ralph<br>
            </code>
        </p>
        <p>
            <strong>Restart</strong> the program to initialize a survivor game.


        </p>
        <p>
            Once a game is started, <code>*.survive</code> files will be created in the same directory you ran this binary from.

        </p>
        <p>
            To maintain persistence, always run
            this binary with the accompanying <code>.survive</code> and <code>conf</code> files.
            Don't modify these files directly.
        </p>



    </div>

    <script>
        // No scripts
    </script>
</div>