<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Survivor: Northeastern Scheduler</title>


</head>
<div class="h-20 row align-items-center center text-center">
    <div class="col center text-center">
        <img src="https://parade.events//blog/assets/resources-survivor/logo.png" />
        <h1>Game Manager</h1><br><br>

        <h4>How long is the next event?</h4>
        <div>
        <button onclick="duration(30)" class="btn btn-primary">30 minutes</button>
        <button onclick="duration(60)" class="btn btn-primary">1 hour</button>
        <button onclick="duration(120)" class="btn btn-primary">2 hours</button>
        </div>

        <br><br>
        <div id="best-time" style="display: none;">
        <h4>The best times to host an event <strong><span id="duration"></span></strong> in length are:</h4>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        </div>

        <br><br><br>


        <h3>Availabilities</h3>
        {{range $i1, $e1 := .Days}}
            <b>{{$i1}}</b>
            {{range $i2, $e2 := .Halfhours}}
                {{ if not $e2}}
                    ⚠️
                {{else}}
                    ✅
                {{ end }}
            {{end}}
            <br>
        {{end}}
    </div>

    <script>
        function duration(minutes) {
            document.getElementById('best-time').style.display = "block";

            switch (minutes) {
                case 30:
                    document.getElementById('duration').innerHTML = '30 minutes';
                    break;
                case 60:
                    document.getElementById('duration').innerHTML = 'an hour';
                    break;
                case 120:
                default:
                    document.getElementById('duration').innerHTML = 'two hours';
            }

        }
    </script>
</div>